@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Cinzel:wght@400;700&family=Gentium+Book+Basic:wght@400;700&display=swap');
/*
font-family: 'Alike Angular', serif;
font-family: 'Cinzel', serif;
font-family: 'Gentium Book Basic', serif;
*/

@keyframes fadeIn {
    0% {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInLeft {
    0% {opacity: 0;transform: translateX(-30px)}
    to {opacity: 1;transform: translateX(0)}
}

@keyframes slideInUp {
    0% {transform: translateZ(0);}
    to {transform: translate3d(0, 100%, 0);}
}
@keyframes float{
    0%{transform: translatey(20px);}
    50%{transform: translatey(10px);}
    100%{transform: translatey(20px);}
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a {
    color: inherit;
}

h1,
h2,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Gentium Book Basic', serif, sans-serif;
    font-size: 16px;
}

body p {
    line-height: 1.8em;
}

h1,
.logo {
    font-family: 'Alike Angular', serif;
}


/*-----------------------cover page-------------------------*/
#cover {
    width: 100%;
    height: 800px;
    margin: 85px auto 0;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#cover h1 {
    margin: 250px 0 50px;
    font-size: 10em;
    text-shadow: 10px 10px 0px rgba(0, 0, 0, 0.4);
}

#cover h2 {
    margin-bottom: 120px;
    font-size: 2em;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}

#cover a {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 30px;
    padding: 8px 35px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
    border: 2px solid rgba(255, 255, 255, 0.9);
    transition: all 0.3s;
}

#cover a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.coverbg {
    width: 100%;
    height: 969px;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: url(../img/cover.jpg) no-repeat center center;
    background-size: cover;
}

.coverbg::before {
    content: "";
    display: block;
    width: 100%;
    height: 969px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}


/*-----------------------navigation bar-------------------------*/
#header {
    position: fixed;
    left: 50%;
    top: 80px;
    margin: 0 0 0 -600px;
    text-align: center;
}

.logo {
    display: block;
    font-size: 2.5em;
    line-height: 1.8em;
    color: #fff;
    text-shadow: 5px 5px 0px rgba(256, 256, 256, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.navi {
    width: 140px;
    margin: 50px 0 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: #fff;
}

.navi li {
    height: 50px;
    line-height: 50px;
}

.navi a {
    width: 100%;
    display: block;
}

.navi .navi_tit {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.navi li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
}

.about_btn:hover {
    background-image: url(../img/icon_about.png)
}

.table_btn:hover {
    background-image: url(../img/icon_list.png)
}

.map_btn:hover {
    background-image: url(../img/icon_map.png)
}

.prev_btn:hover {
    background-image: url(../img/icon_prev.png)
}

.next_btn:hover {
    background-image: url(../img/icon_next.png)
}

.top_btn {
    display: block;
    width: 120px;
    height: 30px;
    margin-left: -590px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: url(../img/icon_top.png) no-repeat center center;
    background-size: 20px;
    text-indent: -9999px;
    color: #fff;
    line-height: 30px;
}

.top_btn:hover {
    text-indent: 0;
    background: none;
}


/*-----------------------common styles-------------------------*/
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 50px;
    background-color: rgba(250, 252, 247, 0.9);
    position: relative;
    font-size: 1.4em;
    color: #111;
    overflow: hidden;
}

.tit {
    font-size: 1.3em;
    margin: 0;
    animation: 0.8s fadeInLeft ease-in;
}

.tit::after {
    content: "";
    display: block;
    width: 35px;
    height: 7px;
    margin: 10px 0 25px;
    background-color: #7cb342;
}

.tit span {
    color: #33691e;
}


.content {
    animation: 1s fadeInLeft ease-in
}

.content p {
    width: 90%;
    margin: 20px auto;

}

.btn {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #7cb342;
    color: #fff;
}

.btn:hover {
    background-color: #33691e;
}

/*-----------------------about-------------------------*/
#about .content a {
    font-style: italic;
    color: #558b2f;
}

#about .content a:hover {
    text-decoration: underline;
}

.about_img {
    width: 700px;
    height: 300px;
    display: block;
    background: url(../img/about_img.jpg) no-repeat center center;
    background-size: cover;
}




/*-----------------------table of contents-------------------------*/
#chapters li {
    padding: 0 20px;
    text-align: left;
}

#chapters li:hover {
    background-color: #558b2f;
    color: #fff;
}

#chapters li a {
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
}



/*-----------------------stories-------------------------*/


.next_ch {
    width: 100%;
}

.next_ch a {
    display: block;
    text-align: right;
    margin-right: 40px;
    transition: all 0.3s;
    color: #7cb342;
    font-weight: bold;
    position: relative;
}

.next_ch:hover a {
    margin-right: 0;
}

.next_ch a:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/right-arrow.png) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    right: -20px;
    top: 5px;
    opacity: 0;
    transition: all 0.3s;
}

.next_ch:hover a:after {
    right: -30px;
    opacity: 1;
}

.icon_arrow {
    transition: all 0.3s;
    opacity: 0;
    transform: translateX(-20px)
}

.next_ch:hover .icon_arrow {
    transform: translateX(0px);
    opacity: 1
}

.txt {
    animation: 1s fadeInLeft ease
}

.txt strong {
    font-weight: bold;
}

#story .txt p span:last-of-type {
    display: inline;
    margin-bottom: 0;
}

#hidden {
    display: none;
}

/*-----------------view mor button------------------*/
.view_more {
    max-width: 700px;
    display: block;
    border-radius: 5px;
    background-color: #aaa;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.view_more:hover {
    background-color: #555
}


/*-----------------------copyright-------------------------*/
#copyright {
    width: 100%;
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: -50px;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
}

/*-----------------------Map-------------------------*/
@keyframes mapTit {
    0% {
        opacity: 0;
        transform: translateY(400px);
        font-size: 1.9em;
        letter-spacing: 0.2em;
    }

    30% {
        opacity: 0;
        transform: translateY(400px);
        font-size: 1.9em;
        letter-spacing: -0.1em;
    }

    55% {
        opacity: 1;
        transform: translateY(400px);
        font-size: 1.9em;
        letter-spacing: 0.2em;
    }

    75% {
        opacity: 1;
        transform: translateY(400px);
        font-size: 1.9em;
        letter-spacing: 0.2em;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        font-size: 1.3em;
        margin-bottom: 30px;
        letter-spacing: 0em;
    }
}

@keyframes visible {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    65% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#map {
    height: 930px;
}

#map .map_wrap {
    width: 576px;
    position: relative;
    margin: 0 auto;
    animation: visible 6s ease;
    transition: all 0.4s;
}

#map .map_tit {
    margin-bottom: 30px;
    z-index: 10;
    text-align: center;
    color: #0097a7;

    font-size: 1.3em;
    animation: mapTit 4s ease;
}

#map map area {
    opacity: 1;
    cursor: pointer;
    position: absolute;
    border-radius: 45%;
    border: 3px dashed rgba(253, 216, 53, 0.2);
    transition: all 0.4s;

}

#map map area:hover {
    opacity: 1;
    
}

/*--the placehorder icon reveals when hover the area--*/
#map map area:after {
    content: "";
    width: 70px;
    height: 70px;
    display: block;
    background: url(../img/placeholder.png) no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    transform: translatey(20px);
    transition: all 0.4s;
    animation: float 3s ease-in-out infinite;
    opacity: 0.5;
}

#map map area:hover::after {
    animation: float 1s ease-in-out infinite;
    opacity: 0.9;
}

/*the location of each areas*/
.map_indian_camp {
    width: 120px;
    height: 160px;
    left: 27px;
    top: 205px;
}

.map_lost_boys {
    width: 145px;
    height: 120px;
    left: 230px;
    top: 180px;
}

.map_hanging_tree {
    width: 75px;
    height: 130px;
    left: 110px;
    top: 380px;
}

.map_cannibal_cove {
    width: 130px;
    height: 120px;
    left: 175px;
    top: 425px;
}

.map_mermaid_lagoon {
    width: 130px;
    height: 100px;
    left: 365px;
    top: 330px;
}

.map_crocodile_creek {
    width: 140px;
    height: 120px;
    left: 310px;
    top: 420px;
}

/*The popup texts*/
#mapTxt {
    position: relative;
}

#mapTxt li {
    width: 535px;
    padding: 20px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #000;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    bottom: -450px;
    transition: all 0.7s;
}


#mapTxt strong {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px
}

#mapTxt span {
    display: block;
    margin-bottom: 15px;
    line-height: 1.6em;
}

#mapTxt .map_move {
    display: inline-block;
    padding: 5px 20px;
    background-color: gold;
    font-size: 0.9em;
    transform: translateX(260px);
    transition: all 0.5s ease
}

#mapTxt .map_move:hover {
    transform: translateX(280px);
}



/*---close popup---*/
#Close {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
    background: url(../img/close.png) no-repeat 0 0;
    background-size: contain;
    opacity: 0.3;
    transition: all 0.2s;
}

#Close:hover {
    opacity: 0.7
}